@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <strong>-- This website is a part of W9_MvcProject, created by
        <a href="https://github.com/AenuHub">Mehmet Özsığırtmaç</a>. --</strong>
</div>

<div class="container mt-8 pt-2 text-center">
    <ul style="list-style-type: none">
        <li>This project is aiming to demonstrate the usage of .NET Core MVC in a real-world application.</li>
        <li>It includes a book repository where users can manage books and authors.</li>
        <li>For testing purposes, instead of database connection, in-memory data is used to simulate a database in 
            order to store book and author data.</li>
        <li>In data, there are 20 authors and 50 books randomly generated using
            <strong><a href="https://www.mockaroo.com/">mockaroo</a>.</strong>
        </li>
        <li class="fw-bolder pt-2"><em>You can find the source code on 
            <a href="https://github.com/AenuHub/W9_MvcProject">GitHub</a>.</em></li>
    </ul>
</div>

<hr>

<div class="container mt-8 pb-8">
    <h3 class="text-center mb-4">Welcome to the Book Repository!</h3>

    <p class="text-center">This platform serves as a comprehensive digital library for managing and exploring books. 
        This .NET MVC application is designed to provide an intuitive and user-friendly experience for book 
        enthusiasts and librarians alike.</p>

    <hr>
    <h3>Features:</h3>
    <ul>
        <li><strong>Explore the Collection:</strong> Browse the extensive list of books across diverse genres, 
            from Fiction to Fantasy, Historical to Thriller. Each book entry provides detailed information, 
            including its title, author, genre, publication date, ISBN, and availability.</li>
        <li><strong>Add New Books and Authors:</strong> Easily expand the library by adding new books or registering 
            new authors. This feature helps you to keep the collection up-to-date and relevant.</li>
        <li><strong>Search and Filter:</strong> Find your favorite books using dynamic search and filtering tools, 
            making it effortless to navigate the collection.</li>
    </ul>

    <h3>Technologies Used:</h3>
    <ul>
        <li><strong>ASP.NET MVC Framework:</strong> The backbone of the application, providing a robust and scalable 
            structure for the web platform.</li>
        <li><strong>Bootstrap for Responsive Design:</strong> Creating a seamless user experience across devices, 
            from desktops to smartphones.</li>
    </ul>
</div>