@{
    ViewData["Title"] = "Book Repository";
}

<div>
    <h2 class="display-6 fw-medium text-center">Welcome to the Book Repository</h2>
    <p  class="text-center">You can find, edit and delete all the books and authors in the repository.</p>
    
    <div style="display: flex; justify-content: center; align-items: center;">
        <div style="margin-right: 10px";>
            <a asp-controller="Book" asp-action="List" class="btn btn-primary">List of books</a>
        </div>
        <div>
            <a class="btn btn-primary">List of authors</a>
        </div>
    </div>
    <p class="text-center mt-4">You can also add new books and authors in the repository.</p>
    <div style="display: flex; justify-content: center; align-items: center;">
        <div style="margin-right: 10px";>
            <a class="btn btn-primary">Add new book</a>
        </div>
        <div>
            <a class="btn btn-primary">Add new author</a>
        </div>
    </div>
</div>
